h3{
    color: rgb(34, 92, 93);
    background: bisque;
    font-size: 20px;
}
h2{
    color: salmon;
    background: rgb(95, 95, 94);
    font-size: 20px;
}
p{
    color: brown;
    background: black;
    font-size: 20px;
}
h4{
    color: aliceblue;
    background: black;
    font-size: 20px;
}