.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(1, 72, 172, 0.487);
}
.corpoTexto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    background: rgba(1, 72, 172, 0.487);
}
#tabela{
    background: rgba(231, 244, 96, 0.612);
}
.tituloHobbie{
    background: rgba(1, 72, 172, 0.487);
}
#tituloContatos{
    background: rgba(1, 72, 172, 0.487);
}
